html, body {
  height: 100%;

}
.navbar-light .navbar-nav .nav-link {
    color: #000;
  }
.navtitle{
    color:aliceblue;
  margin-left: 1rem;
    font-size:xxx-large;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.image-card {
  padding: 10px;
  text-align: center;
}

.image-card img {
  width: 100%;
  height: auto;
}
.icon-link {
  margin: 0 1rem;
  text-decoration: none;
 }
 .navbar {
  height: 13%;}

.bodydiv{
  padding-top: 0%;
}
.navsesion{
  font-size: x-large;
  color:aliceblue;
  margin-left: 2rem;
  margin-right: 1rem;
}
footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  padding: 20px; 
  text-align: center;
}
.container {
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-image {
  background-image: url(/src/assets/bgstar.jpg);
  opacity: 1; /* Ajusta el valor de opacidad aquí */
}

.home{
  padding-top: 4rem;
}